# STAGE A GRADED QUIZ

In [25]:
import numpy as np
import pandas as pd

# Question 1

In [26]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
data = pd.DataFrame(lst,columns=col,index=[i for i in range(1,4)])
data

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# Question 2

In [27]:
array  =  np.array([[94, 89, 63],

            [93, 92, 48],

            [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

# Question 3

In [28]:
'Math'

'Math'

# Question 4

In [29]:
#using data from question 1
data.shape

(3, 3)

# Question 5

In [30]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

# Question 6

In [31]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

# Question 7

In [32]:
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][1]
y[1][-1]

8

# Question 8

In [33]:
'Set'

'Set'

# Question 9

In [34]:
'3 features, 100 observations'

'3 features, 100 observations'

# Question 10

In [35]:
'df.iloc[ : ]'

'df.iloc[ : ]'

# Question 11

In [36]:
quiz_data = pd.read_csv(r'C:\Users\Hp\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin1')
quiz_data.groupby('Item').sum().loc['Animal fats']

Area Code         85279.00
Item Code       1882494.00
Element Code    2567303.00
Y2014            209460.54
Y2015            200675.72
Y2016            183314.22
Y2017            269617.53
Y2018            269648.27
Name: Animal fats, dtype: float64

# Question 12

In [37]:
quiz_data['Y2015'].mean()

135.23596649549236

In [38]:
quiz_data['Y2015'].std()

1603.4039839423301

# Question 13

In [39]:
quiz_data.isnull().sum()['Y2016']

1535

In [40]:
((quiz_data.isnull().sum()['Y2016'])/(quiz_data.isnull().sum().sum()))*100

20.160231153138955

# Question 14

In [41]:
corr = []
for i in ['Y2014','Y2015','Y2016','Y2017','Y2018']:
    cor = quiz_data['Element Code'].corr(quiz_data[i])
    corr.append(cor)
    print(cor)

0.024456819495221795
0.02388919930163992
0.023443997584961428
0.02425400776004572
0.02427857195351955

In [42]:
max(corr)

0.024456819495221795

# Question 15

In [43]:
quiz_data.groupby('Element').sum().loc['Import Quantity']

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

# Question 16

In [44]:
quiz_data.groupby('Element').sum().loc['Production']['Y2014']

1931287.75

# Question 17

In [45]:
quiz_data.groupby('Element').sum()['Y2018'].idxmax()

'Domestic supply quantity'

# Question 18

In [46]:
quiz_data.groupby('Element').sum()['Y2018'].sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

# Question 19

In [47]:
quiz_data.groupby(['Area','Element']).sum()

                                                 Area Code  Item Code  \
Area     Element
Algeria  Domestic supply quantity                      464     311204
         Export Quantity                               392     264011
         Fat supply quantity (g/capita/day)            432     291489
         Feed                                           88      58967
         Food                                          420     282744
...                                                    ...        ...
Zimbabwe Protein supply quantity (g/capita/day)      20453     304589
         Residuals                                   18824     277476
         Seed                                         3439      50560
         Stock Variation                             17195     254157
         Total Population - Both sexes                 181       2501

                                                 Element Code     Y2014  \
Area     Element
Algeria  Domestic supply quantity                      614916  83755.94
         Export Quantity                               579278   1328.64
         Fat supply quantity (g/capita/day)             73872    320.19
         Feed                                          121462   9656.04
         Food                                          539910  60582.69
...                                                       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)         76162    184.23
         Residuals                                     537680   -252.00
         Seed                                          105013    144.00
         Stock Variation                               481840   -644.00
         Total Population - Both sexes                    511  13587.00

                                                    Y2015     Y2016     Y2017  \
Area     Element
Algeria  Domestic supply quantity                85972.86  87157.61  86810.42
         Export Quantity                          1104.62   1340.22   1494.54
         Fat supply quantity (g/capita/day)        317.40    309.54    320.74
         Feed                                    10308.00   9903.00   9571.00
         Food                                    61693.49  63081.43  62785.33
...                                                   ...       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)    175.31    172.72    175.31
         Residuals                                -780.00   -882.00  -1083.00
         Seed                                      128.00    127.00    162.00
         Stock Variation                          -343.00    221.00    458.00
         Total Population - Both sexes           13815.00  14030.00  14237.00

                                                    Y2018
Area     Element
Algeria  Domestic supply quantity                90023.42
         Export Quantity                           811.54
         Fat supply quantity (g/capita/day)        309.09
         Feed                                    10668.00
         Food                                    63736.33
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    176.57
         Residuals                                -546.00
         Seed                                      140.00
         Stock Variation                          -447.00
         Total Population - Both sexes           14439.00

[803 rows x 8 columns]

In [48]:
quiz_data.groupby(['Area','Element']).sum().loc['Algeria','Import Quantity']['Y2018']

36238.29

# Question 20

In [49]:

quiz_data['Area'].nunique()

49